.carousel-skeleton {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  .skeleton-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .skeleton-circle {
    border-radius: 50%;
  }

  .skeleton-text {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
  }
}
